---
layout: default
title: And Your Are? Podcast
permalink: /andyouare/
bigimg: /img/aya-podcast-featured.jpg
pagination:
  enabled: true
  tags: aya
---
Short discription here about the podcast.

{% for post in paginator.posts %}
<article class="post-preview">
<a href="{{ post.link }}">
  <h2 class="post-title">{{ post.title }}</h2></a>
{% if post.subtitle %}
<h3 class="post-subtitle">
{{ post.subtitle }}
</h3>
{% endif %}
<p class="post-meta">
Recorded on {{ post.date | date: "%B %-d, %Y" }}
<a href="{{ post.url | prepend: site.baseurl }}" class="link-perma">&#127897; Permalink</a>
</p>

<div class="post-entry-container">
<div class="post-entry">
  {{ post.content }}
  {% endfor %}
</div>
</div>
</article>
